<div class="container">
  <form
    [formGroup]="userForm"
    class="form-container"
    (ngSubmit)="handleSubmit()"
  >
    <div class="form-title">Login</div>
    <div class="form-fields">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input
          matInput
          placeholder="Username"
          type="text"
          formControlName="username"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Password"
          type="password"
          formControlName="password"
          required
        />
      </mat-form-field>
    </div>
    <div class="form-actions">
      <button type="submit">Login</button>
    </div>
  </form>
</div>
